/* 공통 header */
.header{
    position: relative;
    width: 100%;
    z-index:100;
}

.header.fixed{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-color:#fff;
    transition:all .3s;
}

.header.fixed  a {
    color:#000 !important;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    font-family: "Bebas Neue", serif;
    color:white;
    letter-spacing: 0.8px;
    font-size: 42px;
}

nav ul{
    display:flex;
    gap:24px;
}

nav ul li a{
    color:white;
}

/* */

.container{
    max-width:1080px;
    width:100%;
    margin:0 auto;
    padding:15px 0;
}

h3.section_title{
    font-size:36px;
    text-align:left;
}

textarea{
    min-height: 160px;
    resize: vertical;
}

#footer{
    border-top:1px solid #ddd;
    background-color:#f6f6f6;
}

@media all and (min-width: 321px) and (max-width: 768px) {
    .header .container{
        justify-content: center;
    }

    .logo a{
        font-size:28px;
    }

    nav {
        display: none;
    }

    h3.section_title {
        font-size: 26px;
    }

    footer p{
        font-size:14px;
    }
}

@media all and (max-width: 320px) {
    .header .container{
        justify-content: center;
    }

    .logo a{
        font-size:28px;
    }

    nav {
        display: none;
    }

    h3.section_title {
        font-size: 26px;
    }

    footer p{
        font-size:14px;
    }
}